<template>
  <div
    class="selector__button col-4"
    @click="select"
    :class="{ active: isActive, mobile: mobile, disabled: !loaded }"
  >
    <span
      class="selector__image"
      :style="{ backgroundColor: item }"
    >{{
      mobile ? name : ""
    }}</span>
    <q-tooltip
      content-class="group-tooltip"
      anchor="top middle"
    >
      {{ name }}
    </q-tooltip>
  </div>
</template>

<script>
import { mapMutations, mapState } from "vuex"
import { switchColor } from "src/helpers/sketchfab-func"

export default {
  name: "ColorSelector",
  props: {
    item: {
      type: String,
      default: ""
    },
    name: {
      type: String,
      default: ""
    },
    group: {
      type: Object,
      default: null
    },
    mobile: Boolean
  },
  computed: {
    ...mapState("app", ["selectedColor", "loaded"]),
    isActive () {
      return this.item === this.selectedColor[this.group.section]
    }
  },
  methods: {
    ...mapMutations({
      selectColor: "app/SET_COLOR"
    }),
    select () {
      if (this.isActive) return
      if (!this.loaded) return
      switchColor(this.item, this.group.param3d)

      this.selectColor({
        color: this.item,
        text: this.name,
        material: this.group.header.title,
        section: this.group.section
      })
    }
  }
}
</script>

<style lang="stylus" scoped>

.selector__button
  position: relative;
  margin-bottom: 8px;
  border: 2px solid #d6d6d7;
  cursor: pointer;
  border-radius: 2px;
  min-width: 21%;
  padding-bottom: 0;
  height: 5vh;
  max-height: 80px;
  min-height: 20px;
  transition 0.3s ease-in-out;
  &.active
    border-color: #a6906e;
    transition 0.3s ease-in-out;
    &:hover
      cursor: default
  .selector__image
    position: absolute;
    background-size: cover;
    height: 84%;
    width: 84%;
    top: 8%;
    left: 8%;
    background-repeat: no-repeat
    background-position: center

.group-tooltip
  background: black

.mobile
  height: 70px
  width: 40px
  margin-left: 10px
  margin: 2px 5px
  min-width 70px!important
  .selector__image
    font-size: 8px;
    color: white
    padding-top 33%
    text-align center

@media only screen and (max-width: 1190px)
  .selector__button
    min-width: 20%

@media only screen and (max-width: 1003px)
  .selector__button
    min-width: 19%
</style>
