<template>
  <div
    class="col-6 cupholder__selector"
    :class="{
      mobile: mobile,
      disabled: (!tableSelected && firstModel) || !loaded
    }"
  >
    <div
      class="item__title"
      :class="{ active: isActive }"
    >
      {{ item.title }}
    </div>
    <q-img
      :src="item.thumbnail"
      @click="select"
      :class="{ active: isActive }"
    />
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex"
import { switchColorOnCup } from "src/helpers/sketchfab-func"
import { defaultState } from "src/store/app/appVuex"

export default {
  name: "CupHolderSelector",
  props: {
    item: {
      type: Object,
      default: null
    },
    group: {
      type: Object,
      default: null
    },
    mobile: Boolean
  },
  computed: {
    ...mapState("app", [
      "tableSelected",
      "selectedCupHolder",
      "selectedStyle",
      "loaded"
    ]),
    isActive () {
      return this.item.id === this.selectedCupHolder
    },
    firstModel () {
      return this.selectedStyle === defaultState.selectedStyle
    }
  },
  methods: {
    ...mapActions({
      selectCupHolder: "app/selectCupHolder"
    }),
    select () {
      if (!this.tableSelected && this.firstModel) return
      this.selectCupHolder({
        id: this.item.id,
        text: this.item.title
      })
      switchColorOnCup(this.item.param3d)
    }
  }
}
</script>

<style lang="stylus" scoped>

.cupholder__selector
  margin-top 10px
  width: 44%
.item__title
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size .7rem
  text-align center
  margin-bottom 3px
  width 80%
  &:after
    content: '';
    position: absolute;
    height: 2px;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
    background-color: #b99777;
    width: 0%;
    top: 14px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    display: block;
  &.active
    &:after
      width: 37%

.q-img
  cursor: pointer
  border-radius: 4px
  transition 0.3s ease-in-out;
  width: 80%
  &.active:hover
    cursor: default

.mobile
  &.cupholder__selector
    height: 130px
    width: 130px
    margin: 2px 5px
    min-width 80px!important
    .selector__image
      font-size: 8px;
      color: white
      padding-top 36%
      text-align center
</style>
