<template>
  <div
    class="col-12 wrapper"
    v-if="matchingStyle"
    :class="{ mobile: mobile, disabled: !loaded }"
  >
    <div
      class="title"
      :class="{ active: isActive }"
    >
      {{ item.title }}
    </div>
    <q-img
      :src="item.thumbnail"
      @click="select"
      :class="{ active: isActive }"
    />
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex"
import { switchLayout } from "src/helpers/sketchfab-func"

export default {
  name: "LayoutSelector",
  props: {
    item: {
      type: Object,
      default: null
    },
    group: {
      type: Object,
      default: null
    },
    mobile: Boolean
  },
  computed: {
    ...mapState("app", ["selectedLayout", "selectedStyle", "loaded"]),

    isActive () {
      return this.item.id === this.selectedLayout
    },
    matchingStyle () {
      return this.item.uid === this.selectedStyle
    }
  },
  methods: {
    ...mapActions({
      selectLayout: "app/selectLayout"
    }),
    select () {
      if (!this.loaded) return
      this.selectLayout({
        id: this.item.id,
        text: this.item.title
      })
      switchLayout(this.group, this.item.uid, this.item)
    }
  }
}
</script>

<style lang="stylus" scoped>
.wrapper
  width 64%
  padding 0 5px

.q-img
  cursor pointer
  margin-top 3px
  margin-bottom 20px
  transition .3s ease-in-out
  border 2px solid $grey
  border-radius 4px
  width 100%

  &:hover, &.active
    border 2px solid $grey
    transition .3s ease-in-out

  &.active
    cursor default
    border 2px solid $secondary

.title
  text-align left
  font-size .9rem

.mobile
  padding-top 10px
  margin-right 10px
  padding-left 10px
  width 50px
  min-width 50px
  max-width 130px

  .wrapper
    width 100%

  .title
    font-size .8rem
    white-space nowrap
</style>
