<template>
  <div
    class="col-12 full-width style__selector"
    :class="{ mobile: mobile, disabled: !loaded }"
  >
    <div class="item__title-global">
      {{ item.title }}
    </div>
    <q-img
      class="rounded-borders"
      :src="item.thumbnail"
      @click="select"
      :class="{ active: isActive }"
      :img-style="{ width: '100%' }"
      :img-class="{ 'image-class': true, active: isActive }"
    />
  </div>
</template>

<script>
import getDefaultLayoutForStyle from "src/helpers/data-func"
import { mapActions, mapState } from "vuex"

export default {
  name: "StyleTypeSelector",
  props: {
    item: {
      type: Object,
      default: null
    },
    mobile: Boolean
  },
  computed: {
    ...mapState("app", ["selectedStyle", "selectedStyleForCommit", "loaded"]),
    isActive () {
      return this.item.uid === this.selectedStyle
    }
  },
  methods: {
    ...mapActions({
      selectStyle: "app/selectStyle",
      selectLayout: "app/selectLayout",
      selectStyleForCommit: "app/selectStyleForCommit"
    }),
    select () {
      if (!this.loaded) return
      this.$router.replace({ path: `/style/${this.item.id}` })
    }
  }
}
</script>

<style lang="stylus" scoped>
.style__selector
  padding-left 10px
.q-img
  cursor: pointer;
  transition 0.3s ease-in-out;
  width: 80%
  >>>.image-class
    &:hover, &.active
      border: 7px solid $secondary
      border-radius 0
      transition 0.3s ease-in-out;
  &.active:hover
    cursor: default
  .comitter
    width: 100%
    height: 100%
.mobile
  height: 30px
  width: 50px
  min-width 50px
  max-width: 130px
  .item__title-global
    font-size .7rem
    white-space:nowrap;
    margin-top 10px;
  .q-img
    width 100%
</style>
