<template>
  <div
    class="col-6 tray__selector"
    :class="{ mobile: mobile, disabled: !tableSelected || !loaded }"
  >
    <div
      class="item__title"
      :class="{ active: isActive }"
    >
      {{ item.title }}
    </div>
    <q-img
      :src="item.thumbnail"
      @click="select"
      :class="{ active: isActive }"
    />
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex"
import { switchTray } from "src/helpers/sketchfab-func"

export default {
  name: "TraySelector",
  props: {
    item: {
      type: Object,
      default: null
    },
    group: {
      type: Object,
      default: null
    },
    mobile: Boolean
  },
  computed: {
    ...mapState("app", ["tableSelected", "selectedTray", "loaded"]),
    isActive () {
      return this.item.title === this.selectedTray.title
    }
  },
  methods: {
    ...mapActions({
      setTray: "app/setTray"
    }),
    select () {
      if (!this.tableSelected) return
      this.setTray(this.item)
      switchTray(this.item.param3d)
    }
  },
  mounted () {}
}
</script>

<style lang="stylus" scoped>

.tray__selector
  margin-top 10px
  width: 44%
.item__title
  position: relative;
  display: inline-block;
  font-weight: 700;
  font-size .7rem
  text-align center
  margin-bottom 3px
  width 80%
  &:after
    content: '';
    position: absolute;
    height: 2px;
    -webkit-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
    background-color: #b99777;
    width: 0%;
    top: 14px;
    left: 50%;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    display: block;
  &.active
    &:after
      width: 37%

.q-img
  cursor: pointer
  border-radius: 4px
  transition 0.3s ease-in-out;
  width: 80%
  &.active:hover
    cursor: default

.mobile
  &.tray__selector
    height: 80px
    width: 80px
    margin: 2px 5px
    min-width 80px!important
    .selector__image
      font-size: 8px;
      color: white
      padding-top 36%
      text-align center
</style>
