<template>
  <div
    class="col-6 selector__card"
    :class="{ mobile: mobile, disabled: !loaded }"
  >
    <div
      class="selector__button full-width"
      @click="select"
      :class="{
        onlyTwo: group.demoImage,
        active: isActive,
        disabled: !tableSelected
      }"
    >
      <span
        class="selector__image"
        :style="{
          backgroundColor: item.hex,
          backgroundImage: 'url(\'icons/step2/wood.png\')'
        }"
      >{{ mobile ? item.name : "" }}</span>
    </div>
    <div
      v-if="!mobile"
      class="subtitle"
    >
      {{ item.name }}
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex"
import { switchWood } from "src/helpers/sketchfab-func"

export default {
  name: "WoodTrimSelector",
  props: {
    item: {
      type: Object,
      default: null
    },
    group: {
      type: Object,
      default: null
    },
    mobile: Boolean
  },
  computed: {
    ...mapState("app", ["tableSelected", "selectedWoodTrim", "loaded"]),

    isActive () {
      return this.item.name === this.selectedWoodTrim
    }
  },
  methods: {
    ...mapActions({
      selectWoodTrim: "app/selectWoodTrim"
    }),
    select () {
      if (!this.tableSelected) return
      this.selectWoodTrim({
        name: this.item.name
      })
      switchWood(this.item.hex)
    }
  }
}
</script>

<style lang="stylus" scoped>
.selector__card
  position relative
  width: 40%
.selector__button
  position: relative;
  margin-bottom: 8px;
  border: 2px solid #d6d6d7;
  cursor: pointer;
  border-radius: 2px;
  width: 21%;
  padding-bottom: 0;
  height: 5vh;
  max-height: 80px;
  min-height: 20px;
  transition 0.3s ease-in-out;
  &.active
    border-color: #a6906e;
    transition 0.3s ease-in-out;
    &:hover
      cursor: default
  .selector__image
    position: absolute;
    background-size: cover;
    height: 84%;
    width: 84%;
    top: 8%;
    left: 8%;
    background-repeat: no-repeat
    background-position: center center
.subtitle
  font-size .64rem
  line-height: .8rem
  text-align center
  margin-top -6px
  padding-bottom 3px
.mobile
  height: 90px
  min-height: 90px
  width: 50px
  margin-left: 10px
  margin: 2px 5px
  padding-top: 25px
  min-width 80px!important
  .selector__button
   height: 70px
   max-height: 60px
  .selector__image
    font-size: 8px;
    color: white
    padding-top 12%
    text-align center
</style>
