<template>
  <transition
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
  >
    <div
      class="loader loader__main"
      v-if="runIt"
      :style="loaderHeight"
      :class="{mobile: mobile}"
    >
      <div class="loadingOveflow">
        <div class="logoWrapper">
          <div class="logo" />
          <div class="buttonWrapper">
            <div
              class="message shown "
              :class="{'q-px-sm' : mobile}"
            >
              Loading Cinema Seating Customizer.
              Please allow 5-10 seconds to load. It will be worth the wait.<br> We promise.
            </div>
          </div>
        </div>
        <div
          class="chairImage row flex-center"
          :class="{'q-pt-lg' : mobile}"
        >
          <img
            :src="loaderSrc"
            :width="mobile?'200px':'400px'"
          >
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'LoaderMain',
  props: {
    mobile: Boolean,
    runIt: Boolean
  },
  data () {
    return {
      index: 1,
      loaderSrc: 'loader/loader1.png',
      interval1: {}
    }
  },
  computed: {
    ...mapState('app', ['loaded', 'expandedMobileControl']),
    loaderHeight () {
      if (this.mobile) {
        return {
          // height: this.expandedMobileControl ? 'calc(70vh - 40px)' : 'calc(50vh - 40px)'
          height: '100vh'
        }
      }
      return {
        height: '100vh'
      }
    }
  },
  mounted () {
    this.interval1 = setInterval(() => {
      this.loaderSrc = `loader/loader${this.index}.png`
      this.index += 1
    }, 450)
  },
  watch: {
    runIt (val) {
      if (!val) {
        this.index = 1
        clearInterval(this.interval1)
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
.loader
  position: absolute;
  width: 100vw
  height: 100vh
  background-color $grey
  z-index 10000

.loadingOveflow
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ebebeb;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

.spinner
  animation: rotate 2s linear infinite;
  z-index: 2000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -100px;
  color: black

.loadingMessage
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #000;

.logoWrapper
  text-align center
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 30%;
  min-height: 150px;
  padding 0 2 qy0px

  .logo
    height: 100px;
    width: 160px;
    -webkit-animation: logo-breath 2s infinite;
    animation: logo-breath 2s infinite;
    background-size: contain;
    background-image: url(/logoimage.png)
    background-repeat: no-repeat;
    background-position: center;

  .buttonWrapper
    margin: 0 auto;
    position: relative;
    height: 100px;

  .shown
    opacity: 1;
    pointer-events: all;

  .message
    font-weight: 700;
    line-height: 35px;
    margin-top: 35px;
    position: relative;

    &:before
      content: '';
      top: -20px;
      position: absolute;
      height: 3px;
      background-color: #b99777;
      width: 100%;
      left: 50%;
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
      transform: translate(-50%);
      -webkit-animation: pullTheLine 3.5s ease-in-out;
      animation: pullTheLine 3.5s ease-in-out;

@keyframes logo-breath {
  0%,
  to {
    -webkit-transform: scale(0.86);
    transform: scale(0.86);
  }

  50% {
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
  }
}

@keyframes pullTheLine {
  0% {
    width: 0%;
  }
  5% {
    width: 8%;
  }
  10% {
    width: 12%;
  }
  15% {
    width: 13%;
  }
  20% {
    width: 20%;
  }
  25% {
    width: 26%;
  }
  30% {
    width: 40%;
  }
  35% {
    width: 49%;
  }
  40% {
    width: 60%;
  }
  45% {
    width: 70%;
  }
  55% {
    width: 75%;
  }
  80% {
    width: 80%;
  }
  90% {
    width: 85%;
  }
  95% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
</style>
