<template>
  <transition
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
  >
    <div
      class="loader"
      v-if="!loaded"
      :style="loaderHeight"
      :class="{mobile: mobile}"
    >
      <div class="loadingOveflow">
        <img
          src="loader.svg"
          class="spinner"
        >
        <div class="loadingMessage">
          Loading Custom Options
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'LoaderSecond',
  props: {
    mobile: Boolean
  },
  computed: {
    ...mapState('app', ['loaded', 'expandedMobileControl']),
    loaderHeight () {
      if (this.mobile) {
        return {
          height: this.expandedMobileControl ? '41vh' : '59vh'
        }
      }
      return {
        height: '100vh'
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
.loader
  position: absolute;
  width: 100vw
  height: 100vh
  background-color $grey
  z-index 100
  .mobile
    height: 100%
    position absolute
    top:0
.loadingOveflow
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ebebeb;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
.spinner
  animation: rotate 2s linear infinite;
  z-index: 2000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -100px;
  color: black
.loadingMessage
  position: absolute;
  text-align center
  padding-top 10px
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-weight: bold;
  color: #000;

</style>
