<template>
  <div class="export__control">
    <q-btn @click="showExport">
      Export
    </q-btn>
  </div>
</template>

<script>
import { mapActions } from "vuex"

export default {
  name: "ButtonExport",
  methods: {
    ...mapActions({
      showExportDialog: "app/showExportDialog",
    }),
    showExport () {
      this.showExportDialog()
    },
  },
}
</script>

<style lang="stylus" scoped>
.export__control
  .q-btn
    width 150px !important
    background-color black
    color white
    border-radius 0
    padding 5px 0
    font-weight 700
    border 2px solid black

    &:hover
      background-color white
      color black
      border 2px black solid
      transition all .6s ease

  .bigger
    font-size 1.3rem
    padding 0 4px 2px
</style>
