<template>
  <div class="step__control">
    <q-btn
      v-if="back && !firstStep"
      @click="prev"
    >
      <span class="bigger">&lt;</span> Back
    </q-btn>

    <q-btn
      v-else-if="!back && !lastStep"
      @click="next"
    >
      Next Step <span class="bigger">&gt;</span>
    </q-btn>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'ButtonStep',
  props: {
    back: Boolean // shows that it is back step
  },
  computed: {
    ...mapGetters({
      lastStep: 'app/lastStep',
      firstStep: 'app/firstStep'
    }),
  },
  methods: {
    ...mapActions({
      next: 'app/nextStep',
      prev: 'app/prevStep'
    })
  }

}
</script>

<style lang="stylus" scoped>
.step__control
  .q-btn
    width: 150px!important
    background-color black
    color: white
    border-radius 0px
    padding 5px 0
    font-weight: 700
    border 2px solid black
    &:hover
      background-color white
      color: black
      border 2px black solid
      transition all .6s ease
  .bigger
    font-size 1.3rem
    padding: 0 4px 2px
@media only screen and (min-width: 800px)
  .spin
    width: 0px;
    height: 0px;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: rotate( 0deg  );
    background: none;
    position: absolute;
    transition: all 0.5s ease-out 0s;
  .step__control:hover .spin
     width: 200%;
     height: 500%;
     opacity: 1;
     left: -70px;
     top: -70px;
     background: rgb(239, 239, 239);
     transform: rotate(80deg)
</style>
