<template>
  <div
    :class="{ mobile: mobile }"
    class="row items-center header__title"
  >
    <div v-if="headerData.useSwitch">
      <q-checkbox
        dense
        class="header__check"
        color="secondary"
        bg-color="white"
        :value="tableSelected"
        @input="toggleTable"
        label=" "
      />
    </div>
    <div
      class=""
      v-if="headerData.title && !headerData.image"
      :class="{
        center: headerData.center,
        headerOfPanel: headerOfPanel,
        dimmedHeader: dimmedHeader
      }"
    >
      {{ headerData.title }}
    </div>
    <div
      class="title"
      v-if="headerData.image"
    >
      <div
        class="leatherSampleImg"
        :style="{
          backgroundImage: 'url(&quot;' + headerData.image + '&quot;)'
        }"
      />
      {{ headerData.title }}
      <a
        class="tooltipTrigger"
        data-rh-at="bottom"
      >ⓘ
        <q-tooltip
          content-class="header-tooltip"
          max-width="200px"
          :v-model="showTooltip"
        >{{ headerData.tooltip }}
        </q-tooltip>
      </a>
      <div style="position: relative;" />
      <div class="textNote">
        Custom colors available upon request
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex"
import { showTable } from "src/helpers/sketchfab-func"
import { defaultState } from "src/store/app/appVuex"

export default {
  name: "ItemGroupHeader",
  props: {
    headerData: {
      type: Object,
      default: null
    },
    headerOfPanel: Boolean,
    mobile: Boolean
  },
  data () {
    return {
      showTooltip: false
    }
  },
  computed: {
    ...mapState("app", ["tableSelected", "selectedStyle"]),
    dimmedHeader () {
      return (
        !this.tableSelected &&
        this.selectedStyle === defaultState.selectedStyle &&
        this.headerData.id === "cupholder"
      )
    }
  },
  methods: {
    ...mapActions({
      setTable: "app/setTable"
    }),
    toggleTable () {
      this.setTable(!this.tableSelected)
      showTable(this.tableSelected)
    }
  }
}
</script>

<style lang="stylus" scoped>
.header__title
  margin-top 16px
  text-transform capitalize
  font-size .9rem
  font-weight 700
  padding-left: 4px

  .center
    //text-align center
    font-size .8rem

  .HeaderOfPanel
    margin-top 0
    text-transform uppercase
    font-size 1.2rem
    font-weight bold
    padding-left 0

.header__check
  margin-top -4px

.dimmedHeader
  color: gray

.title
  text-align: left;
  padding-left: 50px;
  padding-top: 3px;
  padding-bottom: 0px;
  position relative

.tooltipTrigger
  display: inline-block;
  margin: 0px 10px;
  color: rgb(138, 121, 92);
  font-size: 16px;
  cursor: pointer;
  position: absolute;

.textNote
  text-align: left;
  font-size: 12px;
  font-weight: 300;

.leatherSampleImg
  height: 30px;
  width: 30px;
  border-radius: 100%;
  position: absolute;
  left: 10px;
  top: 5px;
  background-size: 200%;
  background-repeat: no-repeat;

.mobile
  &.header__title
    font-size .9rem

    .HeaderOfPanel
      font-size 1rem
</style>
