<template>
  <div class="flex row flex-center">
    <div class="tag" />
    <div class="row number__widget flex-center text-center q-pa-sm">
      <div class="col-6 label">
        Quantity
      </div>
      <div
        class="col-2 button"
        @click="() => (number = number > 1 ? number - 1 : number)"
        :class="{ disabled: number < 2 }"
      >
        -
      </div>
      <div class="col-2">
        {{ number }}
      </div>
      <div
        class="col-2 button"
        @click="() => number++"
      >
        +
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex"

export default {
  name: "QuantitySelector",
  data () {
    return {
      number: 1,
    }
  },
  methods: {
    ...mapActions({
      setQuantity: "app/setQuantity",
    }),
  },
  watch: {
    number () {
      this.setQuantity(this.number)
    },
  },
}
</script>

<style lang="stylus" scoped>
.number__input
  text-align right !important
  width 40px
  height 40px

  input[type='number']::-webkit-outer-spin-button, input[type='number']::-webkit-inner-spin-button
    -webkit-appearance none
    margin 0

  input[type='number']
    -moz-appearance textfield

.number__widget
  width 180px
  height 36px
  padding 0 5px
  border 1px solid rgba(0, 0, 0, .12)
  background-color rgba(239, 239, 239, .1)

  &>div
    font-weight 700
    background-color black
    color white

  .label
    background transparent
    color black
    font-weight 700

  .button
    color white
    background-color #4a4a4a
    cursor pointer
</style>
