<template>
  <q-scroll-area
    :thumb-style="scrollStyle.thumb"
    :bar-style="scrollStyle.bar"
    style="height: 100%;"
    visible
  >
    <div class="panel">
      <div v-if="panelProp">
        <ItemGroupHeader
          v-if="panelProp.header"
          :header-data="panelProp.header"
          header-of-panel
          class="panel__header"
        />
        <div
          class="flex-center item__group"
          :class="{ 'q-px-sm': panelProp.header }"
          v-for="(group, ind) in itemGroupsFiltered"
          :key="ind"
        >
          <ItemGroupHeader
            v-if="group.header"
            :header-data="group.header"
            class="item__group__header"
          />

          <div
            class="row"
            v-if="group.demoImage"
            :class="{ disabled: !tableSelected }"
          >
            <div class="col-5 demo__image q-pl-sm">
              <q-img
                :src="group.demoImage"
                class=""
              />
            </div>
            <div
              class="prop__items full-width flex flex-start q-gutter-xs q-pl-md col"
            >
              <div
                class="header__subtitle"
                :class="{ dimmedHeader: !tableSelected }"
              >
                {{ group.header.subtitle }}
              </div>
              <component
                :is="group.component"
                v-for="(item, index) in group.items"
                :item="item"
                :key="index"
                :name="index"
                :group="group"
                :disabled="!loaded"
              />
            </div>
          </div>

          <div
            class="prop__items full-width flex flex-start q-gutter-sm col"
            v-else
          >
            <component
              :is="group.component"
              v-for="(item, index) in group.items"
              :item="item"
              :key="index"
              :name="index"
              :group="group"
            />
          </div>
        </div>
      </div>
    </div>
  </q-scroll-area>
</template>

<script>
import { mapState } from "vuex"
import properties from "src/configs/properties"
import ItemGroupHeader from "components/ItemGroupHeader"
import StyleTypeSelector from "components/ItemPropSelectors/StyleTypeSelector"
import LayoutSelector from "components/ItemPropSelectors/LayoutSelector"
import ColorSelector from "components/ItemPropSelectors/ColorSelector"
import YouHaveChosen from "components/Submit/YouHaveChosen"
import FormSubmit from "components/Submit/FormSubmit"
import CupHolderSelector from "components/ItemPropSelectors/CupHolderSelector"
import WoodTrimSelector from "components/ItemPropSelectors/WoodTrimSelector"
import TraySelector from "components/ItemPropSelectors/TraySelector"
import scrollStyle from "src/configs/scrollStyle"

export default {
  name: "SidePanel",
  components: {
    ItemGroupHeader,
    StyleTypeSelector,
    LayoutSelector,
    ColorSelector,
    YouHaveChosen,
    FormSubmit,
    CupHolderSelector,
    WoodTrimSelector,
    TraySelector
  },
  props: {
    right: Boolean
  },
  data () {
    return {
      showPanel: false,
      scrollStyle
    }
  },
  computed: {
    ...mapState("app", [
      "currentStep",
      "selectedStyle",
      "tableSelected",
      "loaded"
    ]),
    panelProp () {
      if (properties[`step${this.currentStep}`]) {
        return properties[`step${this.currentStep}`][
          this.right ? "right" : "left"
        ]
      }
      return null
    },
    itemGroupsFiltered () {
      return Object.values(this.panelProp.itemGroups).filter(group => {
        if (!group.uid) return true
        if (group.uid === this.selectedStyle) return true
        return false
      })
    }
  },
  methods: {},
  watch: {
    panelProp () {
      this.showPanel = false
      setTimeout(() => {
        this.showPanel = true
      }, 500)
    }
  },
  mounted () {
    this.showPanel = true
  }
}
</script>

<style lang="stylus" scoped>
.panel
    padding: 0 20px
    &__header
      padding-left 7px
 .item__group
    margin-top 16px
    &__header
      padding-bottom 12px
.header__subtitle
  margin-top -5px
  margin-bottom 10px
  text-align center
  width 75%
  text-transform capitalize
  font-size .7rem
  font-weight 700
  padding-left: 4px
  &.dimmedHeader
    color: #444
.demo__image
  align-self center
</style>
