<template>
  <div
    id="sf-model"
    class="sketchfab-embed-wrapper col"
    :class="{
      absolute: isDesktop,
      flex: !isDesktop,
      expanded: expandedMobileControl
    }"
  >
    <LoaderSecond
      mobile
      v-if="$q.screen.width <= 885"
    />
    <iframe
      id="api-frame"
      allow="autoplay; fullscreen; vr"
      webkitallowfullscreen="true"
      :class="{ expanded: expandedMobileControl }"
    />
  </div>
</template>

<script>
import properties from "src/configs/properties"
import LoaderSecond from "components/Loaders/LoaderSecond"
import SFInit, { switchLayout, switchTray } from "src/helpers/sketchfab-func"
import { defaultState } from "src/store/app/appVuex"

import { mapState, mapActions } from "vuex"
import getDefaultLayoutForStyle, { getStyleById } from "src/helpers/data-func"

export default {
  name: "TheModel",
  components: {
    LoaderSecond
  },
  props: {
    styleTypeId: {
      type: String,
      default: ""
    }
  },
  computed: {
    ...mapState({
      selectedModel: state => state.app.selectedStyle
    }),
    ...mapState("app", [
      "selectedStyle",
      "selectedStyleForCommit",
      "expandedMobileControl",
      "loaded"
    ]),

    isDesktop () {
      return this.$q.platform.is.desktop
    }
  },
  methods: {
    ...mapActions({
      setLoaded: "app/setLoaded",
      setLoading: "app/setLoading",
      setTable: "app/setTable",
      setTray: "app/setTray",
      selectStyle: "app/selectStyle",
      selectLayout: "app/selectLayout"
    }),
    async restartModel () {
      this.setLoading()
      try {
        await SFInit(this.selectedModel, this.$route.query.save)
      } catch (e) {
        throw new Error("Error Initializing 3d Model")
      }

      setTimeout(() => {
        this.setLoaded()
      }, 600)
      // first layout as default in 3d
      switchLayout(properties.step1.right.itemGroups[1], this.selectedModel)
      // if it is screenshot version - hideNode of env
      if (this.$route.query.save) window.sf.hideNode("walls")
      window.sf.hideNode("table")
      this.setTable(defaultState.tableSelected)
      this.setTray(defaultState.traySelected)
      if (this.selectedModel !== "e9a6af0d5d31436ab405fc88d0210f73") {
        // not first model
        switchTray(defaultState.selectedTray.param3d)
        this.setTable(defaultState.traySelected)
      } else if (defaultState.tableSelected) {
        window.sf.showNode("table")
        this.setTable(defaultState.tableSelected)
      }
    }
  },
  watch: {
    styleTypeId: {
      async handler () {
        const item = getStyleById(this.styleTypeId)
        this.selectStyle({
          id: item.uid,
          text: item.title
        })
        const layout = getDefaultLayoutForStyle(item.uid)
        this.selectLayout({
          id: layout.id,
          text: layout.title
        })
        try {
          await this.restartModel()
        } catch (e) {
          this.$errorService.onError(
            "error in styleTypeIdWatcher, TheModel.vue"
          )
        }
      },
      immediate: false // has to be run through mounted() hook, otherwise not working
    }
  },
  async mounted () {
    const item = getStyleById(+this.styleTypeId)
    this.selectStyle({
      id: item.uid,
      text: item.title
    })
    const layout = getDefaultLayoutForStyle(item.uid)
    this.selectLayout({
      id: layout.id,
      text: layout.title
    })
    await this.restartModel()
  }
}
</script>

<style lang="stylus" scoped>
#sf-model
  position absolute
  overflow: hidden
  width: 100%
  height: 100vh
  border: none
  @media screen and (max-width: 885px)
    position: relative
    height: 100%
    //height: calc(43vh - 40px)
   // &.expanded
      //height: calc(57vh - 40px)
#api-frame
  width: 100%
  height: 100vh
  border: none
  @media screen and (max-width: 885px)
    height: 100%
    //  height: calc(43vh - 40px)
    padding-top 0px
    transition: height 400ms
    //&.expanded
    //  height: calc(57vh - 40px)
</style>
