<template>
  <div class="progressTabs">
    <div
      class="tab"
      :class="{ active: currentStep === 1 }"
      @click="gotoStep(1)"
    >
      <span class="notTablet">STEP 1.</span> Choose Your Style & Layout
    </div>
    <div class="split" />
    <div
      class="tab"
      :class="{ active: currentStep === 2 }"
      @click="gotoStep(2)"
    >
      <span class="notTablet">STEP 2.</span> Choose Your Material & Color
    </div>
    <div class="split" />
    <div
      class="tab"
      :class="{ active: currentStep === 3 }"
      @click="gotoStep(3)"
    >
      <span class="notTablet">STEP 3.</span> Submit for Quotation
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex"

export default {
  name: "TheStapsTabs",
  computed: {
    ...mapState("app", ["currentStep"])
  },
  methods: {
    ...mapActions({
      gotoStep: "app/gotoStep"
    })
  }
}
</script>

<style lang="stylus" scoped>
.progressTabs,
.buttonsBlock
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  .button
    user-select: none;

.progressTabs
  top: 0;
  z-index: 100;
  margin: 20px 0;
  font-weight: 700;
  padding: 10px 20px;
  background-color: rgba(239,239,239,0.6);
  border: 1px solid #d6d6d7;

  .tab
    pointer-events: all;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
    position: relative;
    &:after
      content: '';
      width: 0%;
      position: absolute;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
      height: 3px;
      background-color: #b99777;
      z-index: 100;
      transition: width 0.3s ease-in-out;

    &.active
      &:after
        width: 110%;

  .split
    margin: 0 10px;
    width: 2px;
    background-color: #000000;
</style>
