// app global css in Stylus form
html
  height: -webkit-fill-available;
body
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size 16px
  color: black
  user-select: none
  min-height: 100vh;
  min-height: -webkit-fill-available;
  touch-action: pan-y, pan-x;

.item__title-global
  margin 5px 0 5px
  text-align left
  font-size 1.2rem
  font-weight bold

.q-btn:not(.close):not(.menu):not(.submitButton)
    width: 150px
    background-color black
    color: white
    border-radius 0px
    padding 5px 0
    font-weight: 700
    border 2px solid black

    &:hover
      background-color white
      color: black
      border 2px black solid
      transition all .6s ease
