<template>
  <div>
    <div class="form__header text-center">
      Submit for quote
    </div>
    <div
      class="text-center explain__text"
      v-html="item.text"
    />
    <q-form
      @submit="onSubmit"
      @reset="onReset"
      class=" form q-gutter-xs q-mt-md q-pb-xl"
      ref="qform"
      greedy
    >
      <q-input
        filled
        v-model="form.name"
        label="Your Name *"
        lazy-rules
        dense
        color="secondary"
        bg-color="white"
        :rules="[
          val => (val && val.length > 0) || 'Please fill out this field'
        ]"
      />
      <q-input
        filled
        v-model="form.email"
        label="Email *"
        lazy-rules
        dense
        type="email"
        color="secondary"
        bg-color="white"
        :rules="[
          val =>
            (val && val.length > 0 && validateEmail(val)) ||
            'Please fill out this field'
        ]"
      />
      <q-input
        filled
        v-model="form.phone"
        label="Phone (optional)"
        type="tel"
        lazy-rules
        dense
        hint=""
        color="secondary"
        bg-color="white"
      />
      <q-input
        filled
        v-model="form.location"
        label="City &amp; Country *"
        type="text"
        lazy-rules
        dense
        color="secondary"
        bg-color="white"
        :rules="[
          val => (val && val.length > 0) || 'Please fill out this field'
        ]"
      />
      <q-input
        filled
        v-model="form.notes"
        label="Additional Info"
        type="textarea"
        lazy-rules
        dense
        color="secondary"
        bg-color="white"
        class="q-mb-lg"
        input-style="height: 40px"
      />
      <q-input
        filled
        v-model="form.heard"
        label="How did you hear about us? (Google, Facebook, Instagram, etc)"
        type="textarea"
        lazy-rules
        dense
        color="secondary"
        bg-color="white"
        class="q-mb-sm"
        input-style="height: 40px"
      />
      <q-item
        tag="label"
        class="q-mt-xs q-pr-none q-pl-xs items-start"
      >
        <q-item-section
          class="checkbox__section"
          avatar
        >
          <q-checkbox
            dense
            color="secondary"
            bg-color="white"
            v-model="form.registered"
            label=" "
          />
        </q-item-section>
        <q-item-section>
          <q-item-label>I am a registered home professional.</q-item-label>
          <q-item-label
            caption
            class="checkbox__caption"
          >
            (ie. Interior Designer, Home Theatre Installer, Home Builder, Design
            Firm)
          </q-item-label>
        </q-item-section>
      </q-item>

      <div
        v-show="form.registered"
        class="additional q-mt-sm q-gutter-y-lg"
      >
        <div class="horizontalSplit q-mt-xs" />
        <q-input
          filled
          v-model="form.companyName"
          label="Company Name"
          lazy-rules
          dense
          class="q-mt-md"
          color="secondary"
          bg-color="info"
        />
        <q-input
          filled
          v-model="form.companyEmail"
          label="Company Email"
          lazy-rules
          dense
          color="secondary"
          bg-color="info"
        />
        <q-input
          filled
          v-model="form.companyWebsite"
          label="Company Website"
          lazy-rules
          dense
          color="secondary"
          bg-color="info"
        />
        <q-input
          filled
          v-model="form.companyPhone"
          label="Company Phone"
          type="tel"
          lazy-rules
          dense
          color="secondary"
          bg-color="info"
        />
        <div class="question">
          Which of the following best describes your company?
        </div>

        <q-item
          tag="label"
          class="q-mt-sm q-pr-none q-pl-xs items-start"
        >
          <q-item-section
            class="checkbox__section2"
            avatar
          >
            <q-checkbox
              dense
              color="secondary"
              bg-color="white"
              v-model="form.formCheckbox0"
              label=" "
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>AV Dealer/Installer</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          tag="label"
          class="q-my-none q-pr-none q-pl-xs items-start"
        >
          <q-item-section
            class="checkbox__section2"
            avatar
          >
            <q-checkbox
              dense
              color="secondary"
              bg-color="white"
              v-model="form.formCheckbox1"
              label=" "
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>Design Firm</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          tag="label"
          class="q-my-none q-pr-none q-pl-xs items-start"
        >
          <q-item-section
            class="checkbox__section2"
            avatar
          >
            <q-checkbox
              dense
              color="secondary"
              bg-color="white"
              v-model="form.formCheckbox2"
              label=" "
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>Home Builder</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          tag="label"
          class="q-my-none q-pr-none q-pl-xs items-start"
        >
          <q-item-section
            class="checkbox__section2"
            avatar
          >
            <q-checkbox
              dense
              color="secondary"
              bg-color="white"
              v-model="form.formCheckbox3"
              label=" "
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>Interior Design</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          tag="label"
          class="q-my-none q-pr-none q-pl-xs items-start"
        >
          <q-item-section
            class="checkbox__section2"
            avatar
          >
            <q-checkbox
              dense
              color="secondary"
              bg-color="white"
              v-model="form.formCheckbox4"
              label=" "
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>Architect</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          tag="label"
          class="q-my-none q-pr-none q-pl-xs items-start"
        >
          <q-item-section
            class="checkbox__section2"
            avatar
          >
            <q-checkbox
              dense
              color="secondary"
              bg-color="white"
              v-model="form.formCheckbox5"
              label=" "
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>Other</q-item-label>
          </q-item-section>
        </q-item>
        <div class="question q-mt-none">
          In addition to a price quote, do you require any of the following?
        </div>
        <q-item
          tag="label"
          class="q-mt-sm q-pr-none q-pl-xs items-start"
        >
          <q-item-section
            class="checkbox__section2"
            avatar
          >
            <q-checkbox
              dense
              color="secondary"
              bg-color="white"
              v-model="form.formCheckbox00"
              label=" "
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>Material Samples</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          tag="label"
          class="q-my-xs q-pr-none q-pl-xs items-start"
        >
          <q-item-section
            class="checkbox__section2"
            avatar
          >
            <q-checkbox
              dense
              color="secondary"
              bg-color="white"
              v-model="form.formCheckbox01"
              label=" "
            />
          </q-item-section>
          <q-item-section>
            <q-item-label>3d Layout Drawings</q-item-label>
          </q-item-section>
        </q-item>
      </div>
      <!--additional-->
      <div class="row justify-center">
        <q-btn
          @click="onSubmit"
          :loading="sending"
          class="q-my-sm button submitButton col-12 col-auto"
        >
          <a>Submit for Price Quote</a>
        </q-btn>
      </div>
    </q-form>
    <q-dialog v-model="showOk">
      <q-card>
        <q-card-section class="row items-center q-pb-none">
          <div class="title">
            Request Sent
          </div>
          <q-space />
          <q-btn
            icon="close"
            class="close"
            flat
            round
            dense
            v-close-popup
          />
        </q-card-section>

        <q-card-section class="q-py-md q-pb-lg text-center">
          Thank You!<br>
          Your quotation request has been successfully submitted. Our current
          response time is less than 1 business day. For express service, please
          speak to our project managers at 1-604-575-8310 (8am to 4pm PST)
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex"
import sendEmail from "src/services/email-service"

export default {
  name: "FormSubmit",
  props: {
    item: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      showOk: false,
      showNotOK: false,
      sending: false,
      form: {
        name: "",
        email: "",
        location: "",
        phone: "",
        notes: "",
        registered: false,
        formCheckbox0: false,
        formCheckbox1: false,
        formCheckbox2: false,
        formCheckbox3: false,
        formCheckbox4: false,
        formCheckbox5: false,
        formCheckbox00: false,
        formCheckbox01: false
      }
    }
  },
  computed: {
    ...mapGetters("app", ["getCheque"])
  },
  methods: {
    validateEmail (email) {
      const re = /^(([^<>()[\].,;:\s@"]+(\.[^<>()[\].,;:\s@"]+)*)|(".+"))@(([^<>()[\].,;:\s@"]+\.)+[^<>()[\].,;:\s@"]{2,})$/i
      if (re.test(String(email).toLowerCase())) {
        return true
      }
      return false
    },
    async onSubmit () {
      /// TODO rewrite to form  and cheque

      const resultsValid = await this.$refs.qform.validate()
      if (!resultsValid) return false
      const chairProps = [
        {
          name: "Style",
          value: this.getCheque.styleText
        },
        {
          name: "Layout",
          value: this.getCheque.layoutText
        },
        {
          name: "Color",
          value: this.getCheque.colorText[1]
        },
        {
          name: "Material",
          value: this.getCheque.materialText[1]
        },
        {
          name: "Color 2",
          value: this.getCheque.colorText[2]
        },
        {
          name: "Material 2",
          value: this.getCheque.materialText[2]
        },
        {
          name: "Wood Trim",
          value: this.getCheque.woodtrimText
        },
        {
          name: "Cup Holder",
          value: this.getCheque.cupHolderText
        },
        {
          name: "Table / Swivel",
          value: this.getCheque.table ? "yes" : "no"
        }
      ]

      if (this.form.heard) {
        this.form.notes = `${this.form.notes}... from ${this.form.heard}`
      }
      const additionalRequirements = {
        "Material Samples": this.form.formCheckbox00,
        "3d Layout Drawings": this.form.formCheckbox01
      }

      const companyTypes = {
        "AV Dealer / installer": this.form.formCheckbox0,
        "Design Firm": this.form.formCheckbox1,
        "Home Builder": this.form.formCheckbox2,
        "Interior Design": this.form.formCheckbox3,
        Architect: this.form.formCheckbox4,
        Other: this.form.formCheckbox5
      }
      this.sending = true
      const emailToSend = {
        ...this.form,
        companyTypes: Object.keys(companyTypes).filter(k => !!companyTypes[k]),
        additionalRequirements: Object.keys(additionalRequirements).filter(
          k => !!additionalRequirements[k]
        ),
        chairProps,
        url: window.location ? window.location.href : null
      }
      try {
        await sendEmail(emailToSend)
        this.sending = false
        this.showOk = true
      } catch (e) {
        this.$errorService.onError(
          "Error sending message to server. Email Not Sent."
        )
      }
      this.$refs.qform.reset()
    },
    onReset () {}
  }
}
</script>

<style lang="stylus" scoped>
.form__header
  font-weight: 300;
  color: #7c90a4;
  font-size: 25px;
  padding: 10px 0 10px 0

.explain__text
  font-size .97rem
  line-height 1.3rem
.q-if::before
  background-color: black !important;

.checkbox__section
  padding-right: 0 !important
  padding-top: 4px
  min-width: 20px

.checkbox__section2
  padding-right: 0 !important
  min-width: 20px

.checkbox__caption
  color: black
  font-size .63rem

.horizontalSplit
  width: 100%;
  height: 1px;
  background-color: #cdccce;

.submitButton
  justify-self center
  align-self center
  width: 240px
  margin-left: 5px
  background-color black
  color: white
  border-radius 0px
  padding 5px 0
  font-weight: 700
  border 2px solid black

  &:hover
    background-color white
    color: black
    border 2px black solid
    transition all .6s ease

.title
  //transform: translate(-50%);
  font-size: 20px;
  padding: 8px;
  line-height: 15px;
  text-transform: uppercase;
  color: #666;
  font-weight: 100;

  .form
    width: 17vw
</style>
