<template>
  <div class="flex full-width full-height justify-center">
    <div
      class="chosen  justify-center items-right column full-width full-height"
      :class="{dialog: inDialog, 'q-gutter-y-md': !inDialog}"
    >
      <div
        class="chosen__header col"
        v-if="!inDialog"
      >
        You Have Chosen
      </div>
      <div class="col">
        <span class="chosen__name">STYLE:</span>  {{ cheque.styleText }}
      </div>
      <div class="col">
        <span class="chosen__name">LAYOUT:</span>  {{ cheque.layoutText }}
      </div>
      <div class="col">
        <span class="chosen__name text-center">Section 1</span>
      </div>
      <div class="col">
        <span class="chosen__name">Color:</span>  {{ cheque.colorText[1] }}
      </div>
      <div class="col">
        <span class="chosen__name">Material:</span>  {{ cheque.materialText[1] }}
      </div>
      <div class="col">
        <span class="chosen__name text-center">Section 2</span>
      </div>
      <div class="col">
        <span class="chosen__name">Color:</span>  {{ cheque.colorText[2] }}
      </div>
      <div class="col">
        <span class="chosen__name">Material:</span>  {{ cheque.materialText[2] }}
      </div>
      <div class="col">
        <span class="chosen__name">Table/Swivel:</span>  {{ cheque.table?'Yes':'None' }}
      </div>
      <div
        class="col"
        v-if="!inDialog"
      >
        <span class="chosen__name">Quantity:</span>  {{ quantity }}
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

export default {
  name: 'YouHaveChosen',
  props: {
    inDialog: Boolean
  },
  computed: {
    ...mapGetters({
      cheque: 'app/getCheque'
    }),
    ...mapState('app', ['quantity']),
  }
}
</script>

<style lang="stylus" scoped>

.chosen
  margin-top: 20vh
  text-align: right
  font-size 1.2rem
  &__header
    text-transform uppercase

  &__name
    text-transform uppercase
    font-weight bold

.dialog
  margin-top 0
  text-align left
  font-size .9rem

</style>
