<!DOCTYPE html>
<html>
  <head>
    <title>EliteHTS 2</title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="theme-color" content="#000000" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">


    <link rel="icon" href="https://elitehts.com/wp-content/uploads/2018/12/cropped-SCREEN_ETS_Logomark_K-1-32x32.png" sizes="32x32">
    <link rel="icon" href="https://elitehts.com/wp-content/uploads/2018/12/cropped-SCREEN_ETS_Logomark_K-1-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="https://elitehts.com/wp-content/uploads/2018/12/cropped-SCREEN_ETS_Logomark_K-1-180x180.png">
    <meta name="msapplication-TileImage"
          content="https://elitehts.com/wp-content/uploads/2018/12/cropped-SCREEN_ETS_Logomark_K-1-270x270.png">
    <link rel="icon" type="image/ico" href="https://elitehts.com/wp-content/uploads/2018/12/cropped-SCREEN_ETS_Logomark_K-1-32x32.png">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
