<template>
  <q-layout view="hHh LpR fFf">
    <LoaderMain
      :mobile="$q.screen.width <= 885"
      :run-it="runLoader"
    />
    <TheContactDialog />
    <TheExportDialog />
    <TheErrorDialog />
    <q-resize-observer @resize="onResize" />
    <TheHeader />
    <q-drawer
      v-model="leftShow"
      :width="$q.screen.width * 0.22"
      side="left"
      :breakpoint="900"
      overlay
      bordered
    >
      <SidePanel />
    </q-drawer>
    <q-drawer
      v-model="rightShow"
      :width="$q.screen.width * 0.22"
      side="right"
      :breakpoint="900"
      overlay
      bordered
    >
      <SidePanel right />
    </q-drawer>

    <q-page-container>
      <div
        id="configuratorWrapper"
        class="configuratorWrapper"
        :class="{ column: $q.screen.width <= 885 }"
      >
        <TheModel :style-type-id="styleTypeId" />
        <LoaderSecond v-if="$q.screen.width > 885" />
        <transition
          enter-active-class="animated fadeIn"
          leave-active-class="animated fadeOut"
        >
          <TheStepsTabs v-show="$q.screen.width > 885" />
        </transition>
        <QuantitySelector
          class="quantity"
          v-if="$q.screen.width > 885"
        />
        <ButtonStep
          back
          class="backStep"
          v-show="$q.screen.width > 885"
        />
        <ButtonStep
          class="nextStep"
          v-show="$q.screen.width > 885"
        />
        <ButtonExport
          class="buttonExp"
          v-show="$route.query.save"
        />
        <!--mobile version--->
        <div
          class="mobile full-width bg-red bottom_panel"
          v-if="$q.screen.width < 885"
          :style="bottomPanelStyle"
        >
          <BlackLineMobile />
          <PanelMobile />
        </div>
        <!--end mobile version -->
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapState } from "vuex"
import TheStepsTabs from "components/TheStepsTabs"
import TheHeader from "components/TheHeader"
import TheModel from "components/TheModel"
import TheContactDialog from "components/Dialogs/TheContactDialog"
import TheExportDialog from "components/Dialogs/TheExportDialog"
import TheErrorDialog from "components/Dialogs/TheErrorDialog"
import SidePanel from "components/SidePanel"
import PanelMobile from "components/Mobile/PanelMobile"
import ButtonStep from "components/ButtonStep"
import ButtonExport from "components/ButtonExport"
import BlackLineMobile from "components/Mobile/BlackLineMobile"
import LoaderMain from "components/Loaders/LoaderMain"
import LoaderSecond from "components/Loaders/LoaderSecond"
import QuantitySelector from "src/components/QuantitySelector.vue"

export default {
  name: "MainLayout",
  components: {
    TheContactDialog,
    TheExportDialog,
    TheErrorDialog,
    LoaderMain,
    LoaderSecond,
    ButtonStep,
    ButtonExport,
    TheStepsTabs,
    SidePanel,
    TheHeader,
    TheModel,
    PanelMobile,
    BlackLineMobile,
    QuantitySelector
  },
  props: {
    styleTypeId: {
      type: String,
      default: ""
    },
    savePic: Boolean
  },
  data () {
    return {
      leftShow: false,
      rightShow: false,
      runLoader: true
    }
  },
  computed: {
    ...mapState("app", ["currentStep", "loaded", "expandedMobileControl"]),
    bottomPanelStyle () {
      return {
        height: this.expandedMobileControl ? "58vh" : "40vh"
      }
    }
  },
  methods: {
    onResize () {
      if (this.$q.screen.width > 900) {
        this.leftShow = true
        this.rightShow = true
      }
    }
  },
  mounted () {
    const vh = window.innerHeight * 0.01
    document.documentElement.style.setProperty("--vh", `${vh}px`)
    window.addEventListener("resize", () => {
      const vh = window.innerHeight * 0.01
      document.documentElement.style.setProperty("--vh", `${vh}px`)
    })
    // to turn zoom off
    document.addEventListener(
      "touchmove",
      function (event) {
        if (event.scale !== 1) {
          event.preventDefault()
        }
      },
      false
    )

    this.leftShow = false
    this.rightShow = false
    setTimeout(() => {
      this.leftShow = true
      this.rightShow = true
    }, 6000)
    setTimeout(() => {
      this.runLoader = false
    }, 4300)
  },
  watch: {
    currentStep () {
      this.leftShow = false
      this.rightShow = false
      setTimeout(() => {
        this.leftShow = true
        this.rightShow = true
      }, 400)
    },
    loaded (newval) {
      if (newval) {
        this.leftShow = true
        this.rightShow = true
      }
    }
  }
}
</script>

<style lang="stylus">
.disabled
  cursor:  not-allowed
.q-drawer
  background-color rgba(239, 239, 239, .6)

.mobile
  transition margin-top 300ms

.item
  padding 0 8px
  text-transform uppercase
  cursor pointer
  opacity 1
  font-size 1rem
  transition opacity .2s ease-in-out
  position relative
  padding-bottom 4px
  margin-top 4px

  a
    text-decoration none
    color #fff
    position relative

  &:after
    content ''
    width 0
    position absolute
    bottom 0
    left 50%
    transform translateX(-50%)
    height 3px
    background-color #b99777
    z-index 102
    transition width .3s ease-in-out

  &:hover
    &:after
      width 80%
      width calc(100% - 16px)

.logo__top
  position absolute
  padding-top 5px
  left 50%
  transform translateX(-50%)
  z-index 101

  img
    max-height 50px

.configuratorWrapper
  height calc(100vh - 54px)
  height calc(var(--vh, 1vh) * 100 - 54px)
  width 100%
  overflow hidden
  position relative
  display flex
  user-select none

.quantity
  position absolute
  right 25vw
  top 95px

.nextStep
  position absolute
  right 25vw
  bottom 80px

.backStep
  position absolute
  left 25vw
  bottom 80px

.buttonExp
  position absolute
  left 50vw
  transform translateX(-75px)
  bottom 80px

// .mobile
// z-index:2000
@media (max-width 885px)
  .q-drawer, .q-drawer-container
    display none

  .bottom_panel
    position relative
    transition height 400ms
</style>
