<template>
  <q-dialog
    @hide="closeContactDialog"
    :value="displayContactDialog"
    persistent
    transition-show="flip-down"
    transition-hide="flip-up"
    square
  >
    <q-card>
      <q-toolbar>
        <q-toolbar-title class="title">
          CONTACT US
        </q-toolbar-title>
        <q-btn
          dense
          class="close"
          flat
          icon="close"
          v-close-popup
          ref="close"
        >
          <q-tooltip content-class="">
            Close
          </q-tooltip>
        </q-btn>
      </q-toolbar>

      <q-card-section class="q-pt-none q-pb-lg q-gutter-x-md col row inputs">
        <div
          class="contactText text-center"
          style="padding-top: 0px;"
          ref="contactMessage"
        >
          For assistance please email
          <a href="mailto:sales@elitehts.com"><b>sales@elitehts.com</b></a>, or call our concierge/sales team at
          <a href="tel:6045758310"><b>604-575-8310</b></a> (8am to 4pm PST).
          <br><br>International callers please call
          <a href="tel:01414454195"><b>0141 445 4195</b></a> (8:30am to 4:30pm
          GMT/UTC)
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { mapMutations, mapState } from "vuex"

export default {
  name: "TheContactDialog",
  computed: {
    ...mapState("app", ["displayContactDialog"])
  },
  methods: {
    ...mapMutations({
      closeContactDialog: "app/CLOSE_CONTACT_DIALOG"
    })
  }
}
</script>

<style lang="stylus" scoped>
.q-card
  max-width: 600px
  width: 40vw
  min-width: 300px

.close
  position absolute
  right: 0
  top: 0

.title
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  font-size: 20px;
  padding: 8px;
  line-height: 15px;
  text-transform: uppercase;
  color: #666;
  font-weight: 100;
a
  color black
  text-decoration none
  &:hover
    color: black
</style>
