<template>
  <q-dialog
    @before-show="takeScreenshots"
    @hide="closeExportDialog"
    :value="displayExportDialog"
    persistent
    transition-show="flip-down"
    transition-hide="flip-up"
    square
  >
    <q-card>
      <q-toolbar>
        <q-toolbar-title class="title ">
          Export tool
        </q-toolbar-title>
        <q-btn
          dense
          class="close"
          flat
          icon="close"
          v-close-popup
        >
          <q-tooltip content-class="">
            Close
          </q-tooltip>
        </q-btn>
      </q-toolbar>
      <q-card-section>
        <div class="text">
          <YouHaveChosen in-dialog />
        </div>
      </q-card-section>

      <q-card-section class="q-pt-none q-pb-lg q-gutter-x-md col row inputs">
        <div class="col">
          <q-input
            filled
            v-model="screen.x"
            label="Screenshots width"
            lazy-rules
            color="secondary"
            bg-color="white"

            :rules="[ val => val && Number.isInteger(+val) && +val > 0 || 'Please enter number']"
          />
        </div>
        <div class="col">
          <q-input
            filled
            v-model="screen.y"
            label="Screenshots height"
            lazy-rules
            color="secondary"
            bg-color="white"
            maxlength="5"
            suffix="px"
            :rules="[ val => val && Number.isInteger(+val) && +val > 0 || 'Please enter number']"
          />
        </div>
        <div class="col ">
          <q-btn
            class="button"
            @click="() => takeScreenshots(true)"
            :loading="workingNow"
          >
            <div class="spin" />
            <a>Get screenshots</a>
          </q-btn>
        </div>
      </q-card-section>
      <q-card-section class="col row items-center justify-center images__section q-py-none">
        <q-img
          transition="fade"
          class="screenshot__image"
          :src="screenshot1"
          :contain="true"
          spinner-color="black"
          width="350px"
        />
        <q-img
          transition="fade"
          class="screenshot__image"
          :src="screenshot2"
          :contain="true"
          spinner-color="black"
          width="350px"
        />
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import YouHaveChosen from 'components/Submit/YouHaveChosen'
import trimImage from 'src/helpers/image-process'
import { saveAs } from 'file-saver'

export default {
  name: 'TheExportDialog',
  components: { YouHaveChosen },
  data () {
    return {
      screen: {
        x: 500,
        y: 500
      },
      screenshot1: '',
      screenshot2: '',
      workingNow: false
    }
  },
  computed: {
    ...mapState('app', ['displayExportDialog']),
  },
  methods: {
    ...mapActions({
      closeExportDialog: 'app/closeExportDialog'
    }),
    takeScreenshots (saveThem) {
      this.workingNow = true
      window.sf.gotoAnnotation(window.sf._getAnnotationByName('screenshot1').index, {},
        () => {
          // get screenshot
          setTimeout(() => {
            // window.sf.gotoAnnotation()
            window.sf.getScreenShot(this.screen.x, this.screen.y, 'image/png', (err, result) => {
              if (!err) {
                const img = new Image()
                img.src = result
                img.onload = () => {
                  // Trim unneded parts of image
                  this.screenshot1 = trimImage(img, -20, 40, img.width, img.height)
                  if (saveThem) {
                    const fname = this.genFileName('PNG', 'screenshot1-')
                    this.saveFile(this.screenshot1, fname, false)
                  }
                }
                window.sf.gotoAnnotation(window.sf._getAnnotationByName('screenshot2').index, {},
                  () => {
                    // get screenshot
                    setTimeout(() => {
                      // window.sf.gotoAnnotation()
                      window.sf.getScreenShot(this.screen.x, this.screen.y, 'image/png', (err, result) => {
                        if (!err) {
                          const img = new Image()
                          img.src = result
                          img.onload = () => {
                            // Trim unneded parts of image
                            this.screenshot2 = trimImage(img, -20, 40, img.width, img.height)
                            if (saveThem) {
                              const fname = this.genFileName('PNG', 'screenshot2-')
                              this.saveFile(this.screenshot2, fname, false)
                            }
                          }
                          this.workingNow = false
                        } else {
                          console.error(err)
                        }
                      })
                    }, 500)
                  })
              } else {
                console.error(err)
              }
            })
          }, 500)
          // annot 2
        })
    },
    genFileName (ext, prefix = '') {
      const d = new Date()
      return `${prefix}${d.getFullYear()}-${d.getMonth() + 1}-${d.getDate()}__${d.getHours()}-${d.getMinutes()}-${d.getSeconds()}.${ext.toLocaleLowerCase()}`
    },
    saveFile: function (file, name, isBlob = true) {
      let blob = file
      if (!isBlob) {
        const imageData = atob(file.split(',')[1])
        const arraybuffer = new ArrayBuffer(imageData.length)
        const view = new Uint8Array(arraybuffer)
        for (let i = 0; i < imageData.length; i++) {
          view[i] = imageData.charCodeAt(i) & 0xff
        }
        blob = new Blob([arraybuffer], {
          type: this.type === 'JPG' ? 'image/jpeg' : 'image/png'
        })
      }
      saveAs(blob, name)
    },
  },
  watch: {
  }
}
</script>

<style lang="stylus" scoped>
.q-card
  min-width: 800px

.close
  position absolute
  right: 0
  top: 0

.title
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  font-size: 20px;
  padding: 8px;
  line-height: 15px;
  text-transform: uppercase;
  color: #666;
  font-weight: 100;

.text
  text-align: left;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
  margin: 0 auto 20px;
  width: 350px;
  max-width: 65vw;
  padding: 10px;
  border: 2px solid #b99777;

.inputs
  margin 2% auto 0
  width: 700px
  z-index 3
.button
  width: 180px
  z-index 3
.images__section
  margin-top -50px
  min-height 350px
</style>
