<template>
  <q-dialog
    @hide="closeErrorDialog"
    :value="$store.state.app.displayErrorDialog"
    persistent
    transition-show="flip-down"
    transition-hide="flip-up"
    square
  >
    <q-card>
      <q-toolbar>
        <q-toolbar-title class="title">
          APP ERROR
        </q-toolbar-title>
        <q-btn
          dense
          class="close"
          id="closebutton"
          flat
          icon="close"
          v-close-popup
          data-testid="close-error"
          ref="close"
        >
          <q-tooltip content-class="">
            Close
          </q-tooltip>
        </q-btn>
      </q-toolbar>
      <q-card-section
        class="q-pt-md justify-center q-pb-lg q-gutter-x-md col row"
      >
        <div
          class="contactText text-center"
          style="padding-top: 0px;"
          ref="errorMessage"
        >
          <b>Error </b> occured. We are working on it. Please, visit this page
          later.
          <p
            class="q-mt-md q-py-md"
            style="font-size:0.8rem; border: 1px solid;"
          >
            Error message: {{ errorSummary.message }}
          </p>
        </div>
      </q-card-section>
      <q-separator />
      <q-card-section class="q-pt-lg q-pb-lg q-gutter-x-md col row inputs">
        <div
          class="contactText text-center"
          style="padding-top: 0px;"
        >
          For express service, please speak to our project managers at
          <a href="tel:1-6045758310"><b>1-604-575-8310 (8am to 4pm PST)</b></a>
          <br><br>International callers please call
          <a href="tel:01414454195"><b>0141 445 4195</b></a> (8:30am to 4:30pm
          GMT/UTC)
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
import { mapState, mapMutations } from "vuex"

export default {
  name: "TheErrorDialog",
  computed: {
    ...mapState("app", ["displayErrorDialog", "errorSummary"])
  },
  methods: {
    ...mapMutations({
      closeErrorDialog: "app/CLOSE_ERROR_DIALOG",
      openErrorDialog: "app/SHOW_ERROR_DIALOG"
    })
  }
}
</script>

<style lang="stylus" scoped>
.q-card
  max-width: 600px
  width: 40vw
  min-width: 300px

.close
  position absolute
  right: 0
  top: 0

.title
  position: absolute;
  top: 5px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  font-size: 20px;
  padding: 8px;
  line-height: 15px;
  text-transform: uppercase;
  color: #666;
  font-weight: 100;
a
  color black
  text-decoration none
  &:hover
    color: black
</style>
