<template>
  <div class="blackline bg-black q-py-sm text-white row no-wrap">
    <div
      class="button left col q-px-lg no-wrap self-center"
      @click="prev"
    >
      <transition
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      >
        <span
          v-if="!firstStep"
          class="no-wrap"
        ><span class="bigger">&lt;</span> Back</span>
      </transition>
    </div>
    <div
      class="col text-center"
      style="max-width: 50px"
    >
      <div
        class="expansion"
        @click="toggleMobileControl"
      >
        {{ expandedMobileControl?'⤓':'⤒' }}
      </div>
    </div>
    <div
      class="button right col  q-px-lg  no-wrap self-center"
      @click="next"
    >
      <transition
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      >
        <span
          v-if="!lastStep"
          class="no-wrap"
        >Next Step <span class="bigger">&gt;</span></span>
      </transition>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'

export default {
  name: 'BlackLine',
  computed: {
    ...mapState('app', ['expandedMobileControl']),
    ...mapGetters({
      lastStep: 'app/lastStep',
      firstStep: 'app/firstStep'
    }),
  },
  methods: {
    ...mapActions({
      next: 'app/nextStep',
      prev: 'app/prevStep',
      toggleMobileControl: 'app/toggleMobileControl'
    })
  }
}
</script>

<style lang="stylus" scoped>
.blackline
  position relative
  text-transform uppercase
  font-size .8rem
  font-weight 700
  .button
    width 100px
  .right
    text-align right
  .expansion
    font-size 1.2rem
</style>
