<template>
  <div>
    <div
      v-for="(group, key) in itemGroupsFiltered"
      :key="key"
      style="width: 100%; padding-bottom: 0px;"
    >
      <q-scroll-area
        v-if="!submitForm(group)"
        horizontal
        visible
        style="height: 150px; width: 100%; margin-bottom: 20px; padding-bottom: 5px"
        :style="scrollHeight(group)"
        :thumb-style="scrollStyle.thumb"
        :bar-style="scrollStyle.bar"
      >
        <ItemGroupHeader
          v-if="group.header"
          :header-data="group.header"
          class="item__group__header"
        />
        <div class="no-wrap row  ">
          <component
            class="col"
            :style="{
              minWidth: group.mobileWidth ? group.mobileWidth : '100px'
            }"
            v-for="(item, index) in group.items"
            :key="index"
            :is="group.component"
            :item="item"
            :name="index"
            :group="group"
            mobile
          />
        </div>
      </q-scroll-area>
      <div v-if="submitForm(group)">
        <component
          class="col"
          :style="{ minWidth: group.mobileWidth ? group.mobileWidth : '100px' }"
          v-for="(item, index) in group.items"
          :key="index"
          :is="group.component"
          :item="item"
          :name="index"
          :group="group"
          mobile
        />
      </div>
    </div>
  </div>
</template>

<script>
import StyleTypeSelector from "src/components/ItemPropSelectors/StyleTypeSelector"
import LayoutSelector from "src/components/ItemPropSelectors/LayoutSelector"
import ColorSelector from "src/components/ItemPropSelectors/ColorSelector"
import YouHaveChosen from "src/components/Submit/YouHaveChosen"
import FormSubmit from "src/components/Submit/FormSubmit"
import CupHolderSelector from "src/components/ItemPropSelectors/CupHolderSelector"
import WoodTrimSelector from "src/components/ItemPropSelectors/WoodTrimSelector"
import ItemGroupHeader from "components/ItemGroupHeader"
import scrollStyle from "src/configs/scrollStyle"
import TraySelector from "components/ItemPropSelectors/TraySelector"

import { mapState } from "vuex"

export default {
  name: "PanelMobileInner",
  components: {
    ItemGroupHeader,
    StyleTypeSelector,
    LayoutSelector,
    ColorSelector,
    YouHaveChosen,
    FormSubmit,
    CupHolderSelector,
    WoodTrimSelector,
    TraySelector
  },
  props: {
    right: Boolean,
    groups: {
      type: Object,
      default: null
    }
  },
  data () {
    return { scrollStyle }
  },
  computed: {
    ...mapState("app", [
      "currentStep",
      "selectedStyle",
      "expandedMobileControl"
    ]),

    itemGroupsFiltered () {
      return Object.values(this.groups).filter(group => {
        if (!group.uid) return true
        if (group.uid === this.selectedStyle) return true
        return false
      })
    }
  },
  methods: {
    scrollHeight (group) {
      return {
        height: group.mobileHeight ? group.mobileHeight : "140px"
      }
    },
    submitForm (group) {
      return this.currentStep === 3 && group.component === "FormSubmit"
    }
  }
}
</script>

<style scoped></style>
