<template>
  <div class="panel-mobile bg-white">
    <q-scroll-area
      :thumb-style="scrollStyle.thumb"
      :bar-style="scrollStyle.bar"
      style="height: 100%;"
      visible
    >
      <ItemGroupHeader
        v-if="stepData.left.header"
        :header-data="stepData.left.header"
        header-of-panel
        mobile
        class="panel__header"
      />
      <PanelMobileInner :groups="stepData.left.itemGroups" />
      <ItemGroupHeader
        v-if="stepData.right.header"
        :header-data="stepData.right.header"
        header-of-panel
        mobile
        class="panel__header"
      />
      <PanelMobileInner
        right
        :groups="stepData.right.itemGroups"
      />
      <div class="empty__space" />
    </q-scroll-area>
  </div>
</template>

<script>
import scrollStyle from "src/configs/scrollStyle"
import properties from "src/configs/properties"
import { mapState } from "vuex"

import ItemGroupHeader from "src/components/ItemGroupHeader"
import PanelMobileInner from "src/components/Mobile/PanelMobileInner"

export default {
  name: "PanelMobile",
  components: {
    PanelMobileInner,
    ItemGroupHeader
  },
  data () {
    return {
      scrollStyle
    }
  },
  computed: {
    ...mapState("app", ["currentStep", "selectedStyle"]),
    stepData () {
      return properties[`step${this.currentStep}`]
    }
  }
}
</script>

<style lang="stylus">
.panel-mobile
  height 100%
.empty__space
  height: 40px
</style>
